.page-header
  %h1 Drop an GPG-encrypted message on the go
%p.lead
  Setting up your email environment to send and receive encrypted email
  means some work, even more so for the less technically experienced.
  But even if you do have an encrypted email setup, oftentimes it will not be
  available when you do not have access to it (ie. when not in front of your
  computer).

%p.lead
  %strong Ivybox
  lets you compose and send an encrypted message without having access to your mail
  client or knowing how to use means to encrypt your email communication at all.
  It uses the the
  %a{ href: 'https://www.gnupg.org/' } GNU Privacy Guard (GPG)
  to secure email contents and public key retrieval.

%p.lead
  %strong Ivybox
  was inspired by
  %a{ href: 'https://www.privacybox.de/' } Privacybox
  that was discontinued in June 2013. Privacybox refers to alternative solutions like

  %a{ href: 'https://github.com/freedomofpress/securedrop' } SecureDrop
  and ZEIT Online's
  %a{ href: 'https://github.com/ZeitOnline/briefkasten' } briefkasten
  \.
  %strong Ivybox
  is a Ruby implementation and aims to be lightweight and easy to use.
