.page-header
  %h1 Drop an GPG-encrypted message on the go
%p.lead
  Setting up your email environment to send and receive encrypted email
  means some work, even more so for the less technically experienced.
  But even if you do have an encrypted email setup, oftentimes it will not be
  available when you do not have access to it (ie. when not in front of your
  computer).

%p.lead
  %strong Ivyboy

%p.lead
  %strong Ivyboy
  was inspired by
  %a{ href: 'https://www.privacybox.de/' }, 
