!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Ivybox: Send an anonymous, gpg-encrypted mail on the go", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Ivybox
    / Bootstrap core CSS
    %link{ href: '/stylesheets/bootstrap.css', media: 'screen', rel: 'stylesheet' }
    %link{ href: '/stylesheets/bootstrap-theme.css', media: 'screen', rel: 'stylesheet' }
    / Custom styles for this template
    %link{ href: '/stylesheets/bootstrap-overrides.css', media: 'screen', rel: 'stylesheet' }
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
      %script{ src: "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" }
  %body
    / Wrap all page content here
    #wrap
      / Fixed navbar
      .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: "/"} Ivybox
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{ class: ('active' if request.path.include?('mailbox')) }
                %a{href: "/mailbox"} New Message
              %li{ class: ('active' if request.path == '/') }
                %a{href: "/"} About
      / Begin page content
      .container
        = yield

    %a{ href: "https://github.com/carpodaster/ivybox" }
      %img{ style: "position: absolute; top: 0; right: 0; border: 0; z-index: 9999", src: "https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", alt: "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" }

    #footer
      .container
        %p.text-muted Place sticky footer content here.
    / Placed at the end of the document so the pages load faster
    %script{src: "/javascripts/jquery.js"}
    %script{src: "/javascripts/bootstrap.min.js"}
